{% extends "base.html" %}
{% block title %}Вход{% endblock %}

{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <!-- Заголовок страницы -->
      <h2 class="text-center mb-3">Вход</h2>
      <hr>
      <!-- Форма входа -->
      <form method="POST" action="/login">
        <!-- Email -->
        <div class="mb-3">
          <label for="loginEmail" class="form-label">Почта</label>
          <input type="email" class="form-control" id="loginEmail" name="email" placeholder="Введите email" required>
        </div>
        <!-- Пароль -->
        <div class="mb-3">
          <label for="loginPassword" class="form-label">Пароль</label>
          <input type="password" class="form-control" id="loginPassword" name="password" placeholder="Введите пароль" required>
        </div>
        <!-- Чекбокс "Запомнить меня" -->
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="rememberLogin" name="remember_me">
          <label class="form-check-label" for="rememberLogin">Запомнить меня</label>
        </div>
        <!-- Кнопка входа -->
        <div class="d-grid">
          <button type="submit" class="btn btn-primary">Войти</button>
        </div>
      </form>
      <hr>
      <p class="text-center">Нет аккаунта? <a href="/register">Зарегистрироваться</a>.</p>
    </div>
  </div>
</div>
{% endblock %}
