{% extends "base.html" %}
{% block title %}Вход{% endblock %}

{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mb-3">Вход</h2>
      <hr>
      <form method="POST" action="/login">
        {{ form.hidden_tag() }}

        <!-- Поле Email -->
        <div class="mb-3">
          {{ form.email.label(class="form-label") }}
          {{ form.email(class="form-control", placeholder="Введите email") }}
          {% if form.email.errors %}
            <div class="text-danger">
              {% for error in form.email.errors %}
                {{ error }}
              {% endfor %}
            </div>
          {% endif %}
        </div>

        <!-- Поле Пароль -->
        <div class="mb-3">
          {{ form.password.label(class="form-label") }}
          {{ form.password(class="form-control", placeholder="Введите пароль") }}
          {% if form.password.errors %}
            <div class="text-danger">
              {% for error in form.password.errors %}
                {{ error }}
              {% endfor %}
            </div>
          {% endif %}
        </div>

        <!-- Чекбокс "Запомнить меня" -->
        <div class="mb-3 form-check">
          {{ form.remember_me(class="form-check-input") }}
          {{ form.remember_me.label(class="form-check-label") }}
        </div>

        <!-- Кнопка "Войти" -->
        <div class="d-grid">
          {{ form.submit(class="btn btn-primary") }}
        </div>
      </form>
      <hr>
      <p class="text-center">Нет аккаунта? <a href="/registration">Зарегистрироваться</a>.</p>
        {% if errors %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {% for error in errors %}
      <p class="mb-0">{{ error }}</p>
    {% endfor %}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button>
  </div>
{% endif %}
    </div>
  </div>
</div>
{% endblock %}
